@font-face {
    font-family: "font 1";
    src: url("https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2");
}
@font-face {
    font-family: "font 2";
    src: url("https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2");
}
@font-face {
    font-family: "font bold";
    src: url("../font/NeuePlakExtendedBold.ttf");
}
.header_part1
{
    height: 34px;
    background-color: rgb(36, 68, 150);
    font-family: "font 1";
    line-height: 34px;
    font-size: 12px;
    font-weight: 500;
}
.nav-link
{
    color: black;
    font-family: "font 1";
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-icon svg
{
    width: 18px;
    margin-right: 10px;
}
.video_abt_wrap
{
    bottom: 8px;
    width: 100%;
}
.video_abt_wrap p
{
    color: white;
}
.video_abt_wrap .video-abt
{
    font-size: 13.5px;
    font-family: "font 1";
    line-height: 21px;

}
.video_abt_wrap .video-name
{
    font-size: 50px;
    line-height: 50px;
    font-family: "font bold";
    font-weight: 900;

}

.video_abt_wrap a
{
    font-family: "font 2";
    font-size: 14px;
}
.video_abt_wrap>div
{
    max-width: 390px;
}

.section-head p
{
    font-family: "font bold";
    font-size: 36px;
    margin-right: 30px;
}
.section-head span
{
    line-height: 54px;
    font-family: "font 1";
}
.abt-shoe
{
    font-family: "font 1";
    font-size: 14px;
    line-height: 20px;
}
.shopbtn
{
    padding: 17px 80px;
}
.abt-offer h3
{
    font-family: "font bold";
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}
.abt-offer p,.abt-offer span
{
    font-family: "font 1";
    text-align: center;
    font-size: 14px;
}
.section4>div,.section5>div
{
    max-width: 1450px;
    width: 100%;
}
.collection-title,.section5-head
{
    font-size: 32px;
    font-family: "font bold";
    color: white;
}
.section4 img,.section5 img
{
    filter: brightness(.6);
}
.popout-img:hover img
{
    transform: scale(1.02) !important;
    transition: all 0.3s ease;
}

.popout-img img
{
    transition:all 0.3s ease !important;
    
}
.section7 p
{
    text-align: justify;
    font-family: "font 1";
    font-size: 14.3px;
}
.section7 div > div
{
    padding: 0 23px;
}
.section7 span
{
    font-family: "font bold";
    font-size: 16px;
    text-transform: uppercase;
}