@font-face {
    font-family: "font 1";
    src: url("https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2");
}
@font-face {
    font-family: "font 2";
    src: url("https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2");
}
@font-face {
    font-family: "font bold";
    src: url("../font/NeuePlakExtendedBold.ttf");
}
.header_part1
{
    height: 34px;
    background-color: rgb(36, 68, 150);
    font-family: "font 1";
    line-height: 34px;
    font-size: 12px;
    font-weight: 500;
}
.nav-link
{
    color: black;
    font-family: "font 1";
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-icon svg
{
    width: 18px;
    margin-right: 10px;
}
.video_abt_wrap
{
    bottom: 8px;
    width: 100%;
}
.video_abt_wrap p
{
    color: white;
}
.video_abt_wrap .video-abt
{
    font-size: 13.5px;
    font-family: "font 1";
    line-height: 21px;

}
.video_abt_wrap .video-name
{
    font-size: 50px;
    line-height: 50px;
    font-family: "font bold";
    font-weight: 900;

}

.video_abt_wrap a
{
    font-family: "font 2";
    font-size: 14px;
}
.video_abt_wrap>div
{
    max-width: 390px;
}
